.mh-form .col-form-label-sm{
    width: 90px;
    font-size:13px;
}

.mh-checkbox {
    font-size: 13px;
    padding-top: 5px;
}
.form-inline label {
    justify-content: flex-end;
    padding-right: 0.685rem;
}